* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-nav {
  background-color: red;
}

.nav-element {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}

.nav-list, .countries-list {
  list-style: none;
}

.nav-text {
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-img {
  width: 50px;
  height: 50px;
}

.contenaire {
  display: flex;
}

.countries {
  display: flex;
  width: auto;
  padding: 5px;
  background-color: red;
}

.countries-list {
  display: flex;
  padding: 5px;
  background-color: green;
}

label {
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
  gap: 15px;
}

.tags {
  background-color: blue;
  width: 100%;
}

.title-h2 {
  text-align: center;
}